<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2016-present the IoT DC3 original author or authors.
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU Affero General Public License as
  ~ published by the Free Software Foundation, either version 3 of the
  ~ License, or (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU Affero General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<!DOCTYPE configuration>
<configuration scan="true">
    <!-- 覆盖 base.xml 中的参数配置 -->
    <property name="CONSOLE_LOG_PATTERN"
              value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(%5p) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){magenta} [%clr(%4line){magenta}] %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n%wEx"/>
    <property name="FILE_LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${PID:- } --- [%t] [%4line] %-40.40logger{39} : %m%n%wEx"/>
    <property name="LOGBACK_ROLLINGPOLICY_CLEAN_HISTORY_ON_START" value="false"/>
    <property name="LOGBACK_ROLLINGPOLICY_MAX_FILE_SIZE" value="200MB"/>
    <property name="LOGBACK_ROLLINGPOLICY_TOTAL_SIZE_CAP" value="20GB"/>
    <property name="LOGBACK_ROLLINGPOLICY_MAX_HISTORY" value="30"/>

    <!-- 引入 base.xml -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <property name="LOG_FILE" value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}}/spring.log}"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${FILE_LOG_THRESHOLD}</level>
        </filter>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
            <charset>${FILE_LOG_CHARSET}</charset>
        </encoder>
        <file>${LOG_FILE}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOGBACK_ROLLINGPOLICY_FILE_NAME_PATTERN:-${LOG_FILE}.%d{yyyy-MM-dd}.%i.gz}</fileNamePattern>
            <cleanHistoryOnStart>${LOGBACK_ROLLINGPOLICY_CLEAN_HISTORY_ON_START:-false}</cleanHistoryOnStart>
            <maxFileSize>${LOGBACK_ROLLINGPOLICY_MAX_FILE_SIZE:-10MB}</maxFileSize>
            <totalSizeCap>${LOGBACK_ROLLINGPOLICY_TOTAL_SIZE_CAP:-0}</totalSizeCap>
            <maxHistory>${LOGBACK_ROLLINGPOLICY_MAX_HISTORY:-7}</maxHistory>
        </rollingPolicy>

        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp/>
                <version/>
                <message/>
                <loggerName/>
                <threadName/>
                <logLevel/>
                <logLevelValue/>
                <mdc/>
                <contextName/>
            </providers>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>

    <!-- 关闭状态日志 -->
    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>

    <shutdownHook class="ch.qos.logback.core.hook.DefaultShutdownHook"/>

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <!-- 用户 -->
    <logger name="io.github.pnoker.center.manager.receiver.rabbit" level="WARN"/>

    <!-- 自定义 -->
    <logger name="org.mybatis.spring.mapper.ClassPathMapperScanner" level="ERROR"/>
    <logger name="com.baomidou.mybatisplus.core.metadata.TableInfoHelper" level="ERROR"/>
    <logger name="com.baomidou.mybatisplus.core.injector.DefaultSqlInjector" level="ERROR"/>

    <!-- 系统 -->
    <logger name="org.springframework.boot.autoconfigure.thymeleaf" level="WARN"/>
    <logger name="org.springframework.boot.web.embedded.undertow" level="WARN"/>
    <logger name="org.springframework.cloud.netflix.eureka" level="WARN"/>
    <logger name="org.springframework.cloud.gateway.route" level="WARN"/>
    <logger name="org.springframework.cloud.commons.util" level="WARN"/>
    <logger name="org.springframework.context.support" level="WARN"/>
    <logger name="org.springframework.cloud.context" level="WARN"/>
    <logger name="org.springframework.boot.actuate" level="WARN"/>
    <logger name="org.springframework.security.web" level="WARN"/>
    <logger name="org.springframework.cloud.stream" level="WARN"/>
    <logger name="org.springframework.integration" level="WARN"/>
    <logger name="org.springframework.scheduling" level="WARN"/>
    <logger name="org.springframework.boot.web" level="WARN"/>
    <logger name="org.mybatis.spring.mapper" level="WARN"/>
    <logger name="de.codecentric.boot.admin" level="WARN"/>
    <logger name="org.elasticsearch.client" level="WARN"/>
    <logger name="org.springframework.data" level="WARN"/>
    <logger name="org.springframework.amqp" level="WARN"/>
    <logger name="com.zaxxer.hikari.pool" level="WARN"/>
    <logger name="com.alibaba.cloud.nacos" level="WARN"/>
    <logger name="org.springframework.web" level="WARN"/>
    <logger name="com.baomidou.dynamic" level="WARN"/>
    <logger name="org.mybatis.spring" level="WARN"/>
    <logger name="net.devh.boot.grpc" level="WARN"/>
    <logger name="org.mongodb.driver" level="WARN"/>
    <logger name="com.zaxxer.hikari" level="WARN"/>
    <logger name="org.eclipse.milo" level="WARN"/>
    <logger name="com.alibaba.nacos" level="WARN"/>
    <logger name="io.lettuce.core" level="WARN"/>
    <logger name="org.reflections" level="WARN"/>
    <logger name="com.sun.jersey" level="WARN"/>
    <logger name="org.openscada" level="WARN"/>
    <logger name="org.jinterop" level="WARN"/>
    <logger name="io.undertow" level="WARN"/>
    <logger name="com.netflix" level="WARN"/>
    <logger name="org.quartz" level="WARN"/>
    <logger name="org.jboss" level="WARN"/>
    <logger name="com.xxl" level="WARN"/>
    <logger name="org.xnio" level="WARN"/>

</configuration>
