<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2016-present the IoT DC3 original author or authors.
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU Affero General Public License as
  ~ published by the Free Software Foundation, either version 3 of the
  ~ License, or (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU Affero General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.pnoker.common.data.mapper.DeviceRunMapper">

    <select id="get7daysDuration" resultType="io.github.pnoker.common.data.entity.model.DeviceRunDO">
        SELECT duration, create_time
        FROM dc3_device_run
        WHERE create_time >= DATE_SUB(CURRENT_DATE, INTERVAL 6 DAY)
          and device_id = #{deviceId}
          and status = #{status};
    </select>
    <select id="selectSumDuration" resultType="java.lang.Long">
        select SUM(duration)
        from dc3_device_run
        where device_id = #{deviceId}
          and status = #{status}
    </select>
</mapper>
