<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.pnoker.center.data.mapper.DriverRunHistoryMapper">

    <select id="getDurationDay" resultType="io.github.pnoker.center.data.entity.model.DriverRunDO">
        select
            driver_id,
            status,
            SUM(duration) as duration
        from
            dc3_driver_run_history
        where
            driver_id =#{id}
          and status =#{status}
          and create_time between #{startOfDay} and #{endOfDay}
        GROUP BY driver_id
    </select>
</mapper>
