<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.pnoker.center.data.mapper.DriverRunMapper">

    <select id="get7daysDuration" resultType="io.github.pnoker.center.data.entity.model.DriverRunDO">
        SELECT duration,create_time
        FROM dc3_driver_run
        WHERE create_time  >= DATE_SUB(CURRENT_DATE, INTERVAL 6 DAY)
               and driver_id=#{driverId}
               and status=#{status};
    </select>
</mapper>
