.thing-card {
  border-radius: 5px;
  box-sizing: border-box;

  .thing-content-nowrap-title {
    display: block;
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .thing-content-nowrap-item {
    display: block;
    width: 300px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .thing-content-nowrap-description {
    display: block;
    width: 350px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .el-card {
    width: 100%;
    min-width: 300px;
    min-height: 230px;
    box-sizing: border-box;
  }

  .el-card__body {
    padding: 10px;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.thing-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.thing-header {
  width: 100%;
  height: 55px;
  display: flex;
  border-bottom: 1px solid #dcdfe6;

  .thing-icon {
    width: 48px;
    height: 48px;
    margin-right: 12px;
    border-radius: 10px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .thing-name {
    height: 48px;
    line-height: 48px;
    font-size: 14px;
    font-weight: bold;
    color: rgba(0, 0, 0, .85);
    cursor: pointer;

    &:hover {
      color: #1890ff;
    }
  }

  .thing-status {
    height: 48px;
    line-height: 48px;
    text-align: right;
    flex: 1;
  }

  .thing-unit {
    height: 48px;
    line-height: 48px;
    text-align: right;
    font-weight: bold;
    font-size: large;
    flex: 1;
  }
}

.header-enable {
  border-bottom: 1px solid #c2e7b0;
}

.header-disable {
  border-bottom: 1px solid #fbc4c4;
}

.thing-body {
  display: flex;
  flex-direction: column;

  ul {
    padding-inline-start: 5px;
  }

  .thing-body-content {
    display: flex;
    justify-content: center;

    p.thing-content-nowrap-description {
      text-align: center;
    }

    .thing-body-content-time {
      margin-top: 5px;
    }
  }

  .thing-body-content-item {
    display: flex;
    flex-direction: column;
    list-style: none;
  }

  .thing-body-content-item-point {
    width: 200px;
  }

  .thing-body-content-value {
    display: flex;
    flex-direction: column;
    list-style: none;
    text-align: center;

    .value {
      font-weight: bold;
      font-size: xx-large;
      -webkit-animation: hue 1s ease-in;
      cursor: pointer;
    }

    .value-edit {
      cursor: pointer;
      color: #1296DB;
    }

    .value-detail {
      margin-top: 2px;
      margin-bottom: 2px;
      cursor: pointer;
      color: #1296DB;
      font-size: 14px;
    }

    .value-point {
      height: 17px;
    }

    @-webkit-keyframes hue {
      0% {
        color: #1296DB;
      }
      50% {
        color: #f3f4fe;
      }
      100% {
        color: #1296DB;
      }
    }
  }

  .thing-body-content-time {
    display: flex;
    justify-content: space-between;
    padding-right: 5px;
  }
}

.detail-body {
  list-style: none;

  li {
    font-size: 13px;
    margin-top: 8px;
  }
}

.thing-footer {
  height: 20px;
  margin-top: 2px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #dcdfe6;

  .thing-footer-title {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    width: 100%;
    margin-top: 5px;
  }

  .thing-copy-id {
    height: 35px;
    line-height: 35px;
    text-align: center;
  }

  .thing-operation {
    height: 35px;
    display: flex;

    .thing-tooltip {
      margin-right: 10px;
    }
  }
}
