.tool-card {
  margin-bottom: 3px;
  border-radius: 5px;
  box-sizing: border-box;

  .tool-card-content {
    display: flex;
    flex-direction: column;

    .tool-card-content-search {
      display: flex;
      justify-content: center;
      margin-top: 5px;

      .tool-card-content-search-form {
        display: flex;

        .search-form-small {
          width: 120px;
        }

        .search-form-medium {
          width: 150px;
        }

        .search-form-large {
          width: 300px;
        }
      }

      .tool-card-content-search-button {
        display: flex;
        justify-content: center;
      }
    }

    .tool-card-content-operation {
      display: flex;
      justify-content: space-between;

      .tool-card-content-operation-page {
        display: flex;
        padding-right: 10px;
      }
    }
  }

  .el-card {
    width: 100%;
    box-sizing: border-box;
  }

  .el-card__body {
    padding: 10px;
  }
}


