server:
  port: 8500

spring:
  application:
    name: @project.artifactId@
  main:
    allow-bean-definition-overriding: true
  mvc:
    throw-exception-if-no-handler-found: true
  resources:
    add-mappings: false
  data:
    mongodb:
      address:
        - dc3-mongo:27017

logging:
  level:
    com.pnoker: DEBUG
  file:
    name: dc3/logs/center/${spring.application.name}.log