<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>500 你所访问的页面异常</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/layui/css/layui.css">
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="/lib/compatible/html5.min.js"></script>
    <script src="/lib/compatible/respond.min.js"></script>
    <![endif]-->
</head>
<body class="layui-layout-body"
      ondragstart="return false"
      oncontextmenu=self.event.returnValue=false
      onselectstart="return false">
<div class="layui-layout layui-layout-admin" style="height:100%;text-align: center;">
    <div class="layui-col-md12"><img src="/images/500.png"></div>
    <div class="layui-col-md12"><span style="font-size: 1.28rem;">你所访问的页面异常！</span></div>
    <div class="layui-col-md12">
        </br>
        <p>500 该页面数据异常，建议将此情况报告系统管理员 ， 谢谢 ！</p></div>
</div>
<script src="/layui/layui.js"></script>
</body>
</html>