<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.pnoker.center.auth.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="io.github.pnoker.center.auth.entity.model.UserDO">
        <id column="id" property="id"/>
        <result column="nick_name" property="nickName"/>
        <result column="user_name" property="userName"/>
        <result column="phone" property="phone"/>
        <result column="email" property="email"/>
        <result column="social_ext" property="socialExt"/>
        <result column="identity_ext" property="identityExt"/>
        <result column="remark" property="remark"/>
        <result column="creator_id" property="creatorId"/>
        <result column="creator_name" property="creatorName"/>
        <result column="create_time" property="createTime"/>
        <result column="operator_id" property="operatorId"/>
        <result column="operator_name" property="operatorName"/>
        <result column="operate_time" property="operateTime"/>
        <result column="deleted" property="deleted"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        , nick_name, user_name, phone, email, social_ext, identity_ext, remark, creator_id, creator_name, create_time, operator_id, operator_name, operate_time, deleted
    </sql>

</mapper>
