<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2016-present the IoT DC3 original author or authors.
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU Affero General Public License as
  ~ published by the Free Software Foundation, either version 3 of the
  ~ License, or (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU Affero General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.pnoker.common.manager.mapper.DeviceMapper">

    <select id="selectPageWithProfile" resultType="io.github.pnoker.common.manager.entity.model.DeviceDO">
        select
        dd.id,
        dd.device_name,
        dd.device_code,
        dd.driver_id,
        dd.device_ext,
        dd.enable_flag,
        dd.tenant_id,
        dd.remark,
        dd.signature,
        dd.version,
        dd.creator_id,
        dd.creator_name,
        dd.create_time,
        dd.operator_id,
        dd.operator_name,
        dd.operate_time,
        dd.deleted
        from dc3_device dd
        <if test="profileId != null and profileId != '' and profileId > 0">
            inner join dc3_profile_bind dpb on dd.id = dpb.device_id and dpb.deleted = 0
            inner join dc3_profile dp on dpb.profile_id = dp.id and dp.id = #{profileId} and dp.deleted = 0
        </if>
        ${ew.customSqlSegment}
    </select>
</mapper>
