<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2016-present the IoT DC3 original author or authors.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      https://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.pnoker.common.manager.mapper.PointMapper">

    <select id="selectPageWithDevice" resultType="io.github.pnoker.common.manager.entity.model.PointDO">
        select
        dp.id,
        dp.point_name,
        dp.point_code,
        dp.point_type_flag,
        dp.rw_flag,
        dp.base_value,
        dp.multiple,
        dp.value_decimal,
        dp.unit,
        dp.profile_id,
        dp.group_id,
        dp.point_ext,
        dp.enable_flag,
        dp.tenant_id,
        dp.remark,
        dp.signature,
        dp.version,
        dp.creator_id,
        dp.creator_name,
        dp.create_time,
        dp.operator_id,
        dp.operator_name,
        dp.operate_time,
        dp.deleted
        from dc3_point dp
        <if test="deviceId != null and deviceId != '' and deviceId > 0">
            inner join dc3_profile_bind dpb on dp.profile_id = dpb.profile_id and dpb.device_id = #{deviceId} and dpb.deleted = 0
        </if>
        ${ew.customSqlSegment}
    </select>
</mapper>
