<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2016-present the IoT DC3 original author or authors.
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU Affero General Public License as
  ~ published by the Free Software Foundation, either version 3 of the
  ~ License, or (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU Affero General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.pnoker.common.manager.mapper.ProfileMapper">

    <select id="selectPageWithDevice" resultType="io.github.pnoker.common.manager.entity.model.ProfileDO">
        select dp.id,
        dp.profile_name,
        dp.profile_code,
        dp.profile_share_flag,
        dp.profile_type_flag,
        dp.profile_ext,
        dp.enable_flag,
        dp.tenant_id,
        dp.remark,
        dp.signature,
        dp.version,
        dp.creator_id,
        dp.creator_name,
        dp.create_time,
        dp.operator_id,
        dp.operator_name,
        dp.operate_time,
        dp.deleted
        from dc3_profile dp
        <if test="deviceId != null and deviceId != '' and deviceId > 0">
            inner join dc3_profile_bind dpb on dp.id = dpb.profile_id and dpb.deleted = 0
            inner join dc3_device dd on dpb.device_id = dd.id and dd.id = #{deviceId} and dd.deleted = 0
        </if>
        ${ew.customSqlSegment}
    </select>

</mapper>
